header.homepage__header {
    height: 188px;
    background: #1152CF;
    display: flex;
    align-items: center;
    #query {
        transform: translateY(-12px);
        display: flex;
        label {
            display: block;
            color: #79A1EE;
            margin-bottom: 8px;
        }
        input {
            border: none;
            height: 48px;
            background: #467ADE;
            color: #fff;
            font-size: 16px;
            width: 180px;
            padding: 0 16px;
            &::placeholder {
                color: #fff;
            }
            &:focus {
                outline: transparent;
            }
            &:first-child {
                border-right: 1px solid #1152CF;
            }
        }
        button {
            margin-left: 16px;
            align-self: flex-end;
            height: 48px;
        }
        label[for="sort"] {
            margin-left: 16px;
        }
        select {
            margin-left: 16px;
            border: none;
            height: 48px;
            background: #467ADE;
            color: #fff;
            font-size: 16px;
            width: 180px;
            padding: 0 16px;
            &::placeholder {
                color: #fff;
            }
        }
    }
}

.homepage__main {
    z-index: 10;
    transform: translateY(-24px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    a {
        text-decoration: none;
    }
    .property__card {
        height: auto;
        background: #FFFFFF;
        transition: border 0.3s ease-in-out;
        &:hover .property__card__details {
            border: 1px solid #467ADE;
            border-top: none;
        }
        .property__card__thumbnail {
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .property__card__details {
            border: 1px solid #E5EDF1;
            border-top: none;
            transition: border 0.3s ease-in-out;
            div:first-child {
                border-bottom: 1px solid #E5EDF1;
                padding: 8px 16px;
                h3 {
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000;
                }
                span {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #AAB7BD;
                }
            }
            div:nth-child(2) {
                padding: 8px 16px;
                h3 {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 28px;
                    color: #000;
                }
                span {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #AAB7BD;
                }
            }
            div:nth-child(3) {
                padding: 8px 16px;
                h3.property__card__details__price {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    color: #467ADE;
                }
            }
        }
    }
}
