header.homepage__header {
    height: 260px;
    background: #1152CF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    #query {
        -webkit-transform: translateY(-12px);
            -ms-transform: translateY(-12px);
                transform: translateY(-12px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        #filter__by__price {
            margin-right: 16px;
            margin-bottom: 16px;
        }
        label {
            display: block;
            color: #79A1EE;
            margin-bottom: 8px;
        }
        input {
            border: none;
            height: 48px;
            background: #467ADE;
            color: #fff;
            font-size: 16px;
            width: 180px;
            padding: 0 16px;
            &::-webkit-input-placeholder {
                color: #fff;
            }
            &:-ms-input-placeholder {
                color: #fff;
            }
            &::-ms-input-placeholder {
                color: #fff;
            }
            &::placeholder {
                color: #fff;
            }
            &:focus {
                outline: transparent;
            }
            &:first-child {
                border-right: 1px solid #1152CF;
            }
        }
        button {
            -ms-flex-item-align: end;
                align-self: flex-end;
            height: 48px;
            margin-right: 16px;
            margin-bottom: 16px;
        }
        select {
            margin-right: 16px;
            border: none;
            height: 48px;
            background: #467ADE;
            color: #fff;
            font-size: 16px;
            width: 180px;
            padding: 0 16px;
            &::-webkit-input-placeholder {
                color: #fff;
            }
            &:-ms-input-placeholder {
                color: #fff;
            }
            &::-ms-input-placeholder {
                color: #fff;
            }
            &::placeholder {
                color: #fff;
            }
        }
    }
}

.homepage__main {
    z-index: 10;
    -webkit-transform: translateY(-24px);
        -ms-transform: translateY(-24px);
            transform: translateY(-24px);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    a {
        text-decoration: none;
    }
    .property__card {
        height: auto;
        background: #FFFFFF;
        -webkit-transition: border 0.3s ease-in-out;
        -o-transition: border 0.3s ease-in-out;
        transition: border 0.3s ease-in-out;
        &:hover .property__card__details {
            border: 1px solid #467ADE;
            border-top: none;
        }
        .property__card__thumbnail {
            height: 180px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .property__card__details {
            border: 1px solid #E5EDF1;
            border-top: none;
            -webkit-transition: border 0.3s ease-in-out;
            -o-transition: border 0.3s ease-in-out;
            transition: border 0.3s ease-in-out;
            div:first-child {
                border-bottom: 1px solid #E5EDF1;
                padding: 8px 16px;
                h3 {
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000;
                }
                span {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #AAB7BD;
                }
            }
            div:nth-child(2) {
                padding: 8px 16px;
                h3 {
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 28px;
                    color: #000;
                }
                span {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 21px;
                    color: #AAB7BD;
                }
            }
            div:nth-child(3) {
                padding: 8px 16px;
                h3.property__card__details__price {
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 28px;
                    color: #467ADE;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .homepage__main {
        -ms-grid-columns: 1fr 24px 1fr;
        grid-template-columns: 1fr 1fr;
    }
    header.homepage__header #query button {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 567px) {
    .homepage__main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    header.homepage__header {
        #query {
            #filter__by__price {
                width: 100%;
                margin-right: 0;
            }
            select {
                width: auto;
            }
            input {
                width: 50%;
            }
        }
    }
}