.auth__page {
    transform: translateY(-80px);
    background: #FFFFFF;
    border: 1px solid #E5EDF1;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 340px;
    .login__illo {
        border-right: 1px solid #E5EDF1;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 80%;
        }
    }
    .login__form {
        padding-left: 28px;
        padding-top: 28px;
        padding-bottom: 28px;
        h3 {
            font-size: 24px;
            color: #000000;
        }
        label {
            display: block;
            margin: 16px 0 8px;
        }
        input {
            width: 280px;
            height: 40px;
            background: #F8FDFF;
            border: 1px solid #E7E7E7;
            font-size: 16px;
            padding-left: 8px;
            display: block;
        }
        button {
            margin-top: 16px;
        }
    }
}

.success__message {
    color: #fff;
    padding: 7px 8px 5px 8px;
    background: #22a222;
    border-radius: 4px;
    margin-top: 6px;
    display: inline-block;
}

.error__message {
    margin-top: 8px;
    color: red;
    display: block;
}

@media screen and (max-width:  567px) {
    .auth__page {
        grid-template-columns: 1fr;
    }
    .auth__page .login__illo img {
        display: none;
    }
}