#property__page {
    z-index: 10;
    transform: translateY(-120px);
    display: flex;
    .property__card {
        width:100%;
        height: auto;
        .property__card__thumbnail {
            height: 280px;
        }
        #top__row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            div {
                padding: 0;
                &:nth-child(1) {
                    border-bottom: none;
                }
            }
        }
    } 
}