#property__page {
    z-index: 10;
    -webkit-transform: translateY(-120px);
        -ms-transform: translateY(-120px);
            transform: translateY(-120px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .property__card {
        width:100%;
        height: auto;
        .property__card__thumbnail {
            height: 280px;
        }
        #top__row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            div {
                padding: 0;
                &:nth-child(1) {
                    border-bottom: none;
                }
            }
        }
    } 
}